* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.recipe-content{
    width: 100vw;
    height: 100vh;
}

.right-box{
    width: 40vw;
}

.left-box{
    width: 40vw;
}

.brownie-img{
    /* position: absolute; */
    width: 10vw;
}